@using System.Text.RegularExpressions;
@{
    @model  OrkaMostar.Core.ViewModels.PageContentViewModel
    Layout = null;
    string canonicalUrl = "https://www.orkamostar.ba/" + Model.PageUrl;
}

<!DOCTYPE html>
<html lang="bs">
<head prefix="og: http://ogp.me/ns#">
    @{
        Html.RenderPartial("_HeadPartial");
    }
    <meta property="og:image" content="https://www.orkamostar.ba/Content/images/logo.png">
    <meta property="og:image:type" content="image/png">
</head>
<body class="loading-overlay-showing" data-loading-overlay data-plugin-page-transition>
    <div class="loading-overlay">
        <div class="bounce-loader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div class="body">

        @Html.Action("GetTopMenuItems", "CMS")

        <div role="main" class="main">

            <section class="section bg-primary border-0 position-relative z-index-1 py-0 m-0">
                <div class="custom-slider-background overflow-hidden">
                    <div class="custom-slider-background-image-stage-outer appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="1600">
                        <div class="custom-slider-background-image-stage">
                            <div class="custom-slider-background-image-item overlay overlay-show overlay-op-6" style="background-image: url(/Content/img/slides/slide-1-1.jpg); background-size: cover; background-position: center;"></div>
                            <div class="custom-slider-background-image-item overlay overlay-show overlay-op-6" style="background-image: url(/Content/img/slides/sl2.jpg); background-size: cover; background-position: center;"></div>
                            <div class="custom-slider-background-image-item overlay overlay-show overlay-op-6" style="background-image: url(/Content/img/generic/generic-1.jpg);background-size: cover;background-position: center;"></div>
                            <div class="custom-slider-background-image-item overlay overlay-show overlay-op-6" style="background-image: url(/Content/img/slides/sl1.jpg); background-size: cover; background-position: center;"></div>
                        </div>
                    </div>
                    <div class="custom-slider-background-image-stage-outer appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="1600">
                        <div class="custom-slider-background-image-stage reverse">
                            <div class="custom-slider-background-image-item overlay overlay-show overlay-op-6" style="background-image: url(/Content/img/generic/generic-2.jpg); background-size: cover; background-position: center;"></div>
                            <div class="custom-slider-background-image-item overlay overlay-show overlay-op-6" style="background-image: url(/Content/img/generic/generic-1.jpg); background-size: cover; background-position: center;"></div>
                            <div class="custom-slider-background-image-item overlay overlay-show overlay-op-6" style="background-image: url(/Content/img/slides/slide-1-1.jpg); background-size: cover; background-position: center;"></div>
                            <div class="custom-slider-background-image-item overlay overlay-show overlay-op-6" style="background-image: url(/Content/img/slides/sl1.jpg); background-size: cover; background-position: center;"></div>
                        </div>
                    </div>
                </div>
                <div class="owl-carousel-wrapper appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="1600" style="height: 800px;">
                    <div id="slider" class="owl-carousel dots-inside dots-horizontal-center show-dots-xs custom-dots-position nav-style-1 nav-inside nav-inside-plus nav-light nav-lg nav-font-size-lg mb-0" data-plugin-options="{'responsive': {'0': {'items': 1, 'dots': true, 'nav': false}, '479': {'items': 1}, '768': {'items': 1}, '979': {'items': 1}, '1199': {'items': 1, 'nav': true, 'navVerticalOffset': '-100px', 'dots': false}}, 'loop': false, 'autoHeight': false, 'margin': 0, 'dots': true, 'dotsVerticalOffset': '-115px', 'nav': false, 'animateIn': 'fadeIn', 'animateOut': 'fadeOut', 'mouseDrag': false, 'touchDrag': false, 'pullDrag': false, 'autoplay': false, 'autoplayTimeout': 9000, 'autoplayHoverPause': true, 'rewind': true}">

                        <!-- Carousel Slide 1 -->
                        <div class="position-relative overflow-hidden" data-dynamic-height="['800px','800px','800px','550px','500px']" style="height: 800px;">
                            <div class="container container-lg-custom custom-container-style-2 position-relative z-index-3 h-100 pt-5 mt-5 mt-sm-3">
                                <div class="row align-items-center h-100">
                                    <div class="col-xl-6">
                                        <div class="overflow-hidden mb-2 mb-sm-1 mb-md-0">
                                            <h1 class="text-color-light font-weight-black line-height-1 text-10 text-md-13 text-lg-15 ls-0 mb-0 appear-animation" data-appear-animation="maskUp">Klub Vodenih Sportova Orka</h1>
                                        </div>
                                        <div class="overflow-hidden opacity-8 mb-1">
                                            <h2 class="text-color-light line-height-6 line-height-md-2 text-5 text-md-6 positive-ls-3 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="250">Mostar</h2>
                                        </div>
                                        @*<div class="overflow-hidden opacity-6 mb-5">
                                                <p class="text-color-light text-3-4 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="500">Elegant Solutions to Complex Problems</p>
                                            </div>
                                            <a href="#start" data-hash data-hash-offset="140" class="btn btn-primary custom-btn-style-1 font-weight-bold text-3 px-5 py-3 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="750">GET STARTED</a>*@
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Carousel Slide 2 -->
                        <div class="position-relative overflow-hidden" data-dynamic-height="['800px','800px','800px','550px','500px']" style="height: 800px;">
                            <div class="container container-lg-custom custom-container-style-2 position-relative z-index-3 h-100 pt-5 mt-5 mt-sm-3">
                                <div class="row align-items-center justify-content-end h-100">
                                    <div class="col-xl-6 text-right">
                                        <div class="overflow-hidden mb-2 mb-sm-1 mb-md-0">
                                            <h1 class="text-color-light font-weight-black line-height-1 text-10 text-md-13 text-lg-15 ls-0 mb-0 appear-animation d-none" data-appear-animation="maskUp">Klub Vodenih Sportova Orka</h1>
                                        </div>
                                        <div class="overflow-hidden opacity-8 mb-1">
                                            <h2 class="text-color-light line-height-6 line-height-md-2 text-5 text-md-6 positive-ls-3 mb-0 appear-animation d-none" data-appear-animation="maskUp" data-appear-animation-delay="250">Mostar</h2>
                                        </div>
                                        @*<div class="overflow-hidden opacity-6 mb-5">
                                                <p class="text-color-light text-3-4 mb-0 appear-animation d-none" data-appear-animation="maskUp" data-appear-animation-delay="500">Elegant Solutions to Complex Problems</p>
                                            </div>*@
                                        @*<a href="#start" data-hash data-hash-offset="140" class="btn btn-primary custom-btn-style-1 custom-btn-style-1-right font-weight-bold text-3 px-5 py-3 appear-animation d-none" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="750">GET STARTED</a>*@
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <div class="position-relative">
                <img src="~/Content/img/backgrounds/arch-plan-1.jpg" class="img-fluid position-absolute top-0 right-0" alt="" />
            </div>

            <div class="custom-page-wrapper">
                <section class="section bg-transparent border-0 position-relative py-0 m-0">
                    <div class="container container-lg-custom custom-container-style custom-margin-top">
                        <div class="row mb-5">
                            <div class="col">
                                <div class="overflow-hidden">
                                    <div class="owl-carousel-wrapper position-relative z-index-1 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="1000" style="height: 373px;">
                                        <div class="owl-carousel owl-theme dots-horizontal-center custom-dots-style-1 mb-0" data-plugin-options="{'responsive': {'576': {'items': 1}, '768': {'items': 1}, '992': {'items': 2}, '1200': {'items': 3}}, 'margin': 25, 'loop': false, 'nav': false, 'dots': false, 'autoplay': false, 'autoplayTimeout': 7000}">
                                            <div>
                                                <a href="/skola-plivanja/" class="text-decoration-none">
                                                    <div class="card custom-card-style-1 border-radius-0">
                                                        <div class="card-body text-center p-5 mb-4">
                                                            <img width="75" src="~/Content/img/icons/children.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary mt-3 mb-4 pb-3'}" />
                                                            <h2 class="text-color-dark font-weight-bold line-height-1 text-6-7 mb-3">Škola plivanja</h2>
                                                            <p class="mb-0">Klub vodenih sportova “Orka” vrši upis novih članova u školu plivanja.</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div>
                                                <a href="/orka-arena-kup/" class="text-decoration-none">
                                                    <div class="card custom-card-style-1 border-radius-0">
                                                        <div class="card-body text-center p-5 mb-4">
                                                            <img width="75" src="~/Content/img/icons/swimming.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary mt-3 mb-4 pb-3'}" />
                                                            <h2 class="text-color-dark font-weight-bold line-height-1 text-6-7 mb-3">Orka Arena Kup</h2>
                                                            <p class="mb-0">Jednom godišnje Mostar postaje središte plivačkog sporta u Bosni i Hercegovini.</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div>
                                                <a href="/sprintko-kup/" class="text-decoration-none">
                                                    <div class="card custom-card-style-1 border-radius-0">
                                                        <div class="card-body text-center p-5 mb-4">
                                                            <img width="75" src="~/Content/img/icons/sprintko.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary mt-3 mb-4 pb-3'}" />
                                                            <h2 class="text-color-dark font-weight-bold line-height-1 text-6-7 mb-3">Sprintko Kup</h2>
                                                            <p class="mb-0">Mostar je domaćin plivačkom mitingu za najmlađe plivače i plivačice.</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="start" class="row align-items-center pb-xl-5 mb-xl-5">
                            <div class="col-9 col-lg-4 col-xl-5 pb-5 pb-lg-0 mb-5 mb-lg-0">
                                <div class="position-relative">
                                    <img src="~/Content/img/backgrounds/arch-plan-2.jpg" class="img-fluid position-absolute left-0 z-index-0 appear-animation" alt="" data-appear-animation="fadeIn" data-appear-animation-delay="850" style="bottom: -168px;" />
                                    <div class="overflow-hidden position-relative z-index-1">
                                        <img src="~/Content/img/generic/generic-1.jpg" class="img-fluid appear-animation" alt="" data-appear-animation="maskLeft" data-appear-animation-delay="250" />
                                    </div>
                                    <div class="overflow-hidden position-absolute z-index-2" style="bottom: -75px; right: -17%;">
                                        <img src="~/Content/img/generic/generic-2.jpg" class="img-fluid appear-animation" alt="" data-appear-animation="maskRight" data-appear-animation-delay="550" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-xl-5 offset-lg-1 pt-5 pt-lg-0">
                                <div class="position-absolute z-index-0 left-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="2000" style="top: 190px;">
                                    <h2 class="text-color-dark custom-stroke-text-effect-1 custom-big-font-size-1 font-weight-black opacity-1 mb-0">KVS ORKA</h2>
                                </div>
                                <div class="pt-lg-5 pl-lg-5 mt-lg-5">
                                    <div class="overflow-hidden mb-2">
                                        <h2 class="text-color-default positive-ls-3 line-height-3 text-4 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="800">O NAMA</h2>
                                    </div>
                                    <div class="overflow-hidden mb-3">
                                        <h3 class="text-transform-none text-color-dark font-weight-black text-10 line-height-2 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="1000">Klub Vodenih Sportova Orka</h3>
                                    </div>
                                    <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1200">
                                        <img src="~/Content/img/divider.jpg" class="img-fluid opacity-5 mb-4" alt="" />
                                    </div>
                                    <p class="custom-font-tertiary text-5 line-height-4 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">Klub vodenih sportova „Orka“ je osnovan 24.8. 2011. godine u  Mostaru i u ovom trenutku  broji oko 200 članova, svih uzrasta iz cijelog Grada. U klubu trenutno djeluju plivački klub i škola plivanja.</p>
                                    <p class="text-3-4 pb-3 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">Klub vodenih sportova „Orka“ čine mladi i uspješni ljudi, doktori i magistri nauka, profesori sporta i tjelesne kulture, te mladi sportisti s bogatim takmičarskim iskustvom.</p>
                                    <a href="/o-nama/" class="btn btn-primary custom-btn-style-1 font-weight-bold text-3 px-5 py-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1800">VIŠE O NAMA</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row pt-5">
                            <div class="col pt-4">
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="container container-lg-custom pb-3 partners">
                        <div class="owl-carousel align-items-center text-center py-5 my-3 owl-theme nav-style-1 nav-font-size-lg custom-nav-grey mb-0" data-plugin-options="{'responsive': {'576': {'items': 1}, '768': {'items': 2}, '992': {'items': 3}, '1200': {'items': 5}}, 'loop': true, 'nav': true, 'dots': false, 'margin': 20, 'autoplay': true}">
                            <div class="col-12">
                                <img src="~/Content/img/logos/partner1.jpg" alt="Restoran Mio Pasto" class="img-fluid" />
                            </div>
                            <div class="col-12">
                                <img src="~/Content/img/logos/partner2.jpg" alt="JP Elektroprivreda" class="img-fluid" />
                            </div>
                            <div class="col-12">
                                <img src="~/Content/img/logos/partner3.jpg" alt="Stomatološka ordinacija Dr. A. Mahinić" class="img-fluid" />
                            </div>
                            <div class="col-12">
                                <img src="~/Content/img/logos/partner4.png" alt="Interagent Mostar" class="img-fluid" />
                            </div>
                            <div class="col-12">
                                <img src="~/Content/img/logos/partner5.jpg" alt="Lastatravel" class="img-fluid" />
                            </div>
                            <div class="col-12">
                                <img src="~/Content/img/logos/partner6.jpg" alt="Moj Taxi Mostar" class="img-fluid" />
                            </div>
                            <div class="col-12">
                                <img src="~/Content/img/logos/partner7.png" alt="ZK Office" class="img-fluid" />
                            </div>
                            <div class="col-12">
                                <img src="~/Content/img/logos/partner8.jpg" alt="NET doo" class="img-fluid" />
                            </div>
                            <div class="col-12">
                                <img src="~/Content/img/logos/partner9.jpg" alt="BH Telekom" class="img-fluid" />
                            </div>
                            <div class="col-12">
                                <img src="~/Content/img/logos/partner10.jpg" alt="Sportski savez grada Mostara" class="img-fluid" />
                            </div>
                        </div>
                    </div>
                    <div class="custom-section">
                        <div class="custom-section-left-content parallax p-0 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'fadeIn': true}" data-image-src="/Content/img/generic/generic-3.jpg" style="min-height: 400px"></div>
                        <div class="custom-section-middle-content bg-primary p-5">
                            <div class="owl-carousel owl-theme nav-style-1 nav-svg-arrows-1 nav-light custom-hide-prev-nav custom-dots-style-1 custom-dots-style-1-light mb-0" data-plugin-options="{'responsive': {'0': { 'items': 1}, '576': {'items': 1}, '768': {'items': 1, 'dots': true, 'nav': false}, '992': {'items': 1}, '1200': {'items': 1}}, 'loop': true, 'nav': true, 'dots': false, 'margin': 20, 'refresh': true}">
                                <div class="pt-4 pb-3">
                                    <h2 class="custom-heading-style-1 text-4-5 mb-4">
                                        <span class="custom-heading-style-1-step">01</span>
                                        <span class="custom-heading-style-1-text">RESEARCH</span>
                                    </h2>
                                    <p class="text-3-4 text-color-light opacity-4 pr-5 pr-md-0 pr-lg-5 mr-3 mr-md-0 mr-lg-3 mb-0">Vestibulum auctor felis eget orci semper vestibulum. Pellentesque ultricies nibh gravida, accumsan libero luctus, molestie nunc. In nibh ipsum, blandit id faucibus ac.</p>
                                </div>
                                <div class="pt-4 pb-3">
                                    <h2 class="custom-heading-style-1 text-4-5 mb-4">
                                        <span class="custom-heading-style-1-step">02</span>
                                        <span class="custom-heading-style-1-text">WORK</span>
                                    </h2>
                                    <p class="text-3-4 text-color-light opacity-4 pr-5 pr-md-0 pr-lg-5 mr-3 mr-md-0 mr-lg-3 mb-0">Vestibulum auctor felis eget orci semper vestibulum. Pellentesque ultricies nibh gravida, accumsan libero luctus, molestie nunc. In nibh ipsum, blandit id faucibus ac.</p>
                                </div>
                                <div class="pt-4 pb-3">
                                    <h2 class="custom-heading-style-1 text-4-5 mb-4">
                                        <span class="custom-heading-style-1-step">03</span>
                                        <span class="custom-heading-style-1-text">DELIVERY</span>
                                    </h2>
                                    <p class="text-3-4 text-color-light opacity-4 pr-5 pr-md-0 pr-lg-5 mr-3 mr-md-0 mr-lg-3 mb-0">Vestibulum auctor felis eget orci semper vestibulum. Pellentesque ultricies nibh gravida, accumsan libero luctus, molestie nunc. In nibh ipsum, blandit id faucibus ac.</p>
                                </div>
                            </div>
                        </div>
                        <div class="custom-section-right-content parallax p-0 m-0" data-plugin-parallax data-plugin-options="{'speed': 3, 'parallaxDirection': 'bottom', 'fadeIn': true}" data-image-src=" /Content/img/generic/generic-4.jpg" style="min-height: 400px"></div>
                    </div>
                    <div class="container container-lg-custom py-5 mt-5 mb-4">
                        <div class="row py-4">
                            <div class="col-lg-5 col-xl-4 position-relative mb-4">
                                <div class="position-absolute z-index-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500" style="top: 102px; left: -64px;">
                                    <h2 class="text-color-dark custom-stroke-text-effect-1 custom-big-font-size-2 font-weight-black opacity-1 mb-0">USPJEH</h2>
                                </div>
                                <h2 class="text-color-default positive-ls-3 line-height-3 text-4 mb-2">CUSTOM SERVICES</h2>
                                <h3 class="text-transform-none text-color-dark font-weight-black text-9 line-height-2 mb-4">Design. Build. Better.</h3>
                                <img src="~/Content/img/divider.jpg" class="img-fluid opacity-5 mb-4 mt-2" alt="" />
                                <p class="custom-font-tertiary text-5 line-height-4 mb-4 mt-2">Discover how our unique process improves your building experience.</p>
                            </div>
                            <div class="col-lg-6 col-xl-7 offset-lg-1">
                                <h2 class="text-color-default positive-ls-3 line-height-3 text-4 pb-2 mb-4">MEDALJE</h2>
                                <div class="progress-bars custom-progress-bars-style-1">
                                    <div class="progress-label d-flex justify-content-between">
                                        <span class="text-color-dark text-2">ZLATO</span>
                                        <span class="text-color-dark text-2">1350</span>
                                    </div>
                                    <div class="progress progress-xs progress-no-border-radius bg-color-light-scale-4 mb-4">
                                        <div class="progress-bar progress-bar-primary" data-appear-progress-animation="85%"></div>
                                    </div>

                                    <div class="progress-label d-flex justify-content-between pt-2">
                                        <span class="text-color-dark text-2">SREBRO</span>
                                        <span class="text-color-dark text-2">1923</span>
                                    </div>
                                    <div class="progress progress-xs progress-no-border-radius bg-color-light-scale-4 mb-4">
                                        <div class="progress-bar progress-bar-primary" data-appear-progress-animation="90%"></div>
                                    </div>

                                    <div class="progress-label d-flex justify-content-between pt-2">
                                        <span class="text-color-dark text-2">BRONZA</span>
                                        <span class="text-color-dark text-2">1733</span>
                                    </div>
                                    <div class="progress progress-xs progress-no-border-radius bg-color-light-scale-4 mb-4">
                                        <div class="progress-bar progress-bar-primary" data-appear-progress-animation="87%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section section-height-3 border-0 m-0">
                    <div class="container py-2">
                        <div class="row counters counters-sm">
                            <div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
                                <div class="counter">
                                    @{
                                        int totalYears = Convert.ToInt32((DateTime.Today - new DateTime(2011, 08, 25)).TotalDays / 365.2425 - 0.5);
                                    }
                                    <strong class="text-color-dark font-weight-bold line-height-1 text-12 mb-2" data-to="@totalYears">0</strong>
                                    <label class="text-color-default positive-ls-3 font-weight-normal text-3-4 mb-0">GODINA POSTOJANJA</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
                                <div class="counter">
                                    <strong class="text-color-dark font-weight-bold line-height-1 text-12 mb-2" data-to="350">0</strong>
                                    <label class="text-color-default positive-ls-3 font-weight-normal text-3-4 mb-0">PLIVAČA</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3 mb-5 mb-sm-0">
                                <div class="counter">
                                    <strong class="text-color-dark font-weight-bold line-height-1 text-12 mb-2" data-to="20">0</strong>
                                    <label class="text-color-default positive-ls-3 font-weight-normal text-3-4 mb-0">TRENERA</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="counter">
                                    <strong class="text-color-dark font-weight-bold line-height-1 text-12 mb-2" data-to="45">0</strong>
                                    <label class="text-color-default positive-ls-3 font-weight-normal text-3-4 mb-0">NAGRADA</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="container container-lg-custom py-4 my-3">
                    <div class="lightbox" data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}, 'mainClass': 'mfp-with-zoom', 'zoom': {'enabled': true, 'duration': 300}}">
                        <div class="masonry-loader masonry-loader-showing">
                            <div class="masonry row" data-plugin-masonry data-plugin-options="{'layoutMode': 'packery', 'itemSelector': '.masonry-item', 'sortBy': 'original-order'}">
                                <div class="masonry-item no-default-style col-6 overflow-hidden px-0">
                                    <a class="d-inline-block custom-img-thumbnail-style-1 img-thumbnail img-thumbnail-no-borders img-thumbnail-hover-icon rounded-0 appear-animation" href="~/Content/img/gallery/gallery1.jpg" data-appear-animation="maskDown" data-appear-animation-delay="500">
                                        <img src="~/Content/img/gallery/gallery1.jpg" class="img-fluid rounded-0" alt="" />
                                    </a>
                                </div>
                                <div class="masonry-item no-default-style col-6 col-lg-3 overflow-hidden px-0">
                                    <a class="d-inline-block custom-img-thumbnail-style-1 img-thumbnail img-thumbnail-no-borders img-thumbnail-hover-icon rounded-0 appear-animation" href="~/Content/img/gallery/gallery2.jpg" data-appear-animation="maskRight" data-appear-animation-delay="250">
                                        <img src="~/Content/img/gallery/gallery2.jpg" class="img-fluid rounded-0" alt="" />
                                    </a>
                                </div>
                                <div class="masonry-item no-default-style col-6 col-lg-3 overflow-hidden px-0">
                                    <a class="d-inline-block custom-img-thumbnail-style-1 img-thumbnail img-thumbnail-no-borders img-thumbnail-hover-icon rounded-0 appear-animation" href="~/Content/img/gallery/gallery3.jpg" data-appear-animation="maskLeft" data-appear-animation-delay="750">
                                        <img src="~/Content/img/gallery/gallery3.jpg" class="img-fluid rounded-0" alt="" />
                                    </a>
                                </div>
                                <div class="masonry-item no-default-style col-6 overflow-hidden px-0">
                                    <a class="d-inline-block custom-img-thumbnail-style-1 img-thumbnail img-thumbnail-no-borders img-thumbnail-hover-icon rounded-0 appear-animation" href="~/Content/img/gallery/gallery6.jpg" data-appear-animation="maskUp" data-appear-animation-delay="500">
                                        <img src="~/Content/img/gallery/gallery6.jpg" class="img-fluid rounded-0" alt="" />
                                    </a>
                                </div>
                                <div class="masonry-item no-default-style col-6 col-lg-3 overflow-hidden px-0">
                                    <a class="d-inline-block custom-img-thumbnail-style-1 img-thumbnail img-thumbnail-no-borders img-thumbnail-hover-icon rounded-0 appear-animation" href="~/Content/img/gallery/gallery5.jpg" data-appear-animation="maskRight" data-appear-animation-delay="750">
                                        <img src="~/Content/img/gallery/gallery5.jpg" class="img-fluid rounded-0" alt="" />
                                    </a>
                                </div>
                                <div class="masonry-item no-default-style col-6 col-lg-3 overflow-hidden px-0">
                                    <a class="d-inline-block custom-img-thumbnail-style-1 img-thumbnail img-thumbnail-no-borders img-thumbnail-hover-icon rounded-0 appear-animation" href="~/Content/img/gallery/gallery4.jpg" data-appear-animation="maskLeft" data-appear-animation-delay="250">
                                        <img src="~/Content/img/gallery/gallery4.jpg" class="img-fluid rounded-0" alt="" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="section section-height-3 bg-primary border-0 m-0">
                    <div class="container container-lg-custom">
                        <div class="row align-items-center justify-content-center text-center text-xl-left">
                            <div class="col-md-8 col-xl-9 mb-4 mb-xl-0 appear-animation" data-appear-animation="fadeInRightShorterPlus" data-appear-animation-delay="250">
                                <h2 class="text-color-default font-weight-semibold positive-ls-3 text-4 mb-0">WE'RE HERE TO HELP</h2>
                                <h3 class="text-transform-none text-color-light font-weight-black line-height-2 text-9 mb-0">Let's Talk About Your New Project, We Can Do It!</h3>
                            </div>
                            <div class="col-xl-3 text-xl-right appear-animation" data-appear-animation="fadeInRightShorterPlus" data-appear-animation-delay="500">
                                <a href="demo-architecture-2-contact.html" class="btn btn-light custom-btn-style-1 font-weight-bold text-color-dark text-3 px-5 py-3">CONTACT US</a>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="container container-lg-custom">
                    <div class="row py-5 my-5">
                        <div class="col-lg-5 col-xl-4 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorterPlus" data-appear-animation-delay="250" data-plugin-options="{'accY': -400}">
                            <div class="position-absolute z-index-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500" style="top: 102px; left: -246px;">
                                <h2 class="text-color-dark custom-stroke-text-effect-1 custom-big-font-size-3 font-weight-black opacity-1 mb-0">SOLUTIONS</h2>
                            </div>
                            <h2 class="text-color-default positive-ls-3 line-height-3 text-4 mb-2">COMMON QUESTIONS</h2>
                            <h3 class="text-transform-none text-color-dark font-weight-black text-10 line-height-2 mb-4">Frequent Questions</h3>
                            <img src="~/Content/img/divider.jpg" class="img-fluid opacity-5 mb-4 mt-2" alt="" />
                            <p class="custom-font-tertiary text-5 line-height-4 mb-4 mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet libero</p>
                            <p class="text-3-4 pb-2 mb-4">Vestibulum auctor felis eget orci semper vestibulum. Pellentesque ultricies nibh gravida, accumsan libero luctus, molestie nunc.</p>
                            <a href="demo-architecture-2-contact.html" class="btn btn-primary custom-btn-style-1 font-weight-bold text-3 px-5 py-3">CONTACT US</a>
                        </div>
                        <div class="col-lg-7 col-xl-8 appear-animation" data-appear-animation="fadeInRightShorterPlus" data-appear-animation-delay="500" data-plugin-options="{'accY': -400}">
                            <div class="custom-accordion-style-1 accordion accordion-modern" id="FAQAccordion">
                                <div class="card card-default">
                                    <div class="card-header">
                                        <h4 class="card-title m-0">
                                            <a class="accordion-toggle text-color-dark font-weight-bold" data-toggle="collapse" href="#collapseFAQOne">
                                                What does an architect actually do?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFAQOne" class="collapse show" data-parent="#FAQAccordion">
                                        <div class="card-body pl-4 w-md-75pct">
                                            <p class="mb-0">Cras a elit sit amet leo accumsan volutpat. Suspendisse hendrerit vehicula leo, vel efficitur felis ultrices non. Integer aliquet ullamcorper dolor, quis sollicitudin.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-default">
                                    <div class="card-header">
                                        <h4 class="card-title m-0">
                                            <a class="accordion-toggle text-color-dark font-weight-bold" data-toggle="collapse" href="#collapseFAQTwo">
                                                Why do I need an architect?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFAQTwo" class="collapse" data-parent="#FAQAccordion">
                                        <div class="card-body pl-4">
                                            <p class="mb-0">Cras a elit sit amet leo accumsan volutpat. Suspendisse hendrerit vehicula leo, vel efficitur felis ultrices non. Integer aliquet ullamcorper dolor, quis sollicitudin.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-default">
                                    <div class="card-header">
                                        <h4 class="card-title m-0">
                                            <a class="accordion-toggle text-color-dark font-weight-bold" data-toggle="collapse" href="#collapseFAQFour">
                                                What's the largest project you've ever worked on?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFAQFour" class="collapse" data-parent="#FAQAccordion">
                                        <div class="card-body pl-4">
                                            <p class="mb-0">Cras a elit sit amet leo accumsan volutpat. Suspendisse hendrerit vehicula leo, vel efficitur felis ultrices non. Integer aliquet ullamcorper dolor, quis sollicitudin.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-default">
                                    <div class="card-header">
                                        <h4 class="card-title m-0">
                                            <a class="accordion-toggle text-color-dark font-weight-bold" data-toggle="collapse" href="#collapseFAQFive">
                                                What is the structure of your architecture practice?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFAQFive" class="collapse" data-parent="#FAQAccordion">
                                        <div class="card-body pl-4">
                                            <p class="mb-0">Cras a elit sit amet leo accumsan volutpat. Suspendisse hendrerit vehicula leo, vel efficitur felis ultrices non. Integer aliquet ullamcorper dolor, quis sollicitudin.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-default">
                                    <div class="card-header">
                                        <h4 class="card-title m-0">
                                            <a class="accordion-toggle text-color-dark font-weight-bold" data-toggle="collapse" href="#collapseFAQTSix">
                                                Can you work with clients long distance?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFAQTSix" class="collapse" data-parent="#FAQAccordion">
                                        <div class="card-body pl-4">
                                            <p class="mb-0">Cras a elit sit amet leo accumsan volutpat. Suspendisse hendrerit vehicula leo, vel efficitur felis ultrices non. Integer aliquet ullamcorper dolor, quis sollicitudin.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="my-0">

                    <div class="row py-5 my-5">
                        <div class="col-lg-6 col-xl-7 mx-auto mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="500">
                            <div class="owl-carousel owl-theme nav-style-1 nav-outside nav-font-size-lg custom-nav-grey mb-0" data-plugin-options="{'responsive': {'576': {'items': 1}, '768': {'items': 2}, '992': {'items': 1}, '1200': {'items': 2}}, 'loop': true, 'nav': true, 'dots': false, 'margin': 20}">
                                <div>
                                    <div class="card border-radius-0">
                                        <img class="card-img-top border-radius-0" src="~/Content/img/team/team1.jpg" alt="Damir Đedović - Predsjednik KVS Orka" />
                                        <div class="card-body text-center">
                                            <h4 class="card-title font-weight-extra-bold text-color-dark text-5 mb-1">Damir Đedović</h4>
                                            <h3 class="text-color-default text-3-4 ls-0 font-weight-normal mb-2 pb-1">PREDSJEDNIK</h3>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="card border-radius-0">
                                        <img class="card-img-top border-radius-0" src="~/Content/img/team/team2.jpg" alt="Almir Popo - Podpredsjednik KVS Orka" />
                                        <div class="card-body text-center">
                                            <h4 class="card-title font-weight-extra-bold text-color-dark text-5 mb-1">Almir Popo</h4>
                                            <h3 class="text-color-default text-3-4 ls-0 font-weight-normal mb-2 pb-1">PODPREDSJEDNIK</h3>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="card border-radius-0">
                                        <img class="card-img-top border-radius-0" src="~/Content/img/team/team3.jpg" alt="Alena Ćemalović - Trener KVS Orka" />
                                        <div class="card-body text-center">
                                            <h4 class="card-title font-weight-extra-bold text-color-dark text-5 mb-1">Alena Ćemalović</h4>
                                            <h3 class="text-color-default text-3-4 ls-0 font-weight-normal mb-2 pb-1">TRENER</h3>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="card border-radius-0">
                                        <img class="card-img-top border-radius-0" src="~/Content/img/team/team4.jpg" alt="Deni Mandić - Trener KVS Orka" />
                                        <div class="card-body text-center">
                                            <h4 class="card-title font-weight-extra-bold text-color-dark text-5 mb-1">Deni Mandić</h4>
                                            <h3 class="text-color-default text-3-4 ls-0 font-weight-normal mb-2 pb-1">TRENER</h3>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="card border-radius-0">
                                        <img class="card-img-top border-radius-0" src="~/Content/img/team/team5.jpg" alt="Jasmin Trnovac - Trener KVS Orka" />
                                        <div class="card-body text-center">
                                            <h4 class="card-title font-weight-extra-bold text-color-dark text-5 mb-1">Jasmin Trnovac</h4>
                                            <h3 class="text-color-default text-3-4 ls-0 font-weight-normal mb-2 pb-1">TRENER</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-xl-4 text-right appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="250">
                            <div class="position-absolute z-index-0 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500" style="top: 102px; right: -50px;">
                                <h2 class="text-color-dark custom-stroke-text-effect-1 custom-big-font-size-3 font-weight-black opacity-1 mb-0">KVS ORKA</h2>
                            </div>
                            <h2 class="text-color-default positive-ls-3 line-height-3 text-4 mb-2">NAŠ TIM STRUČNJAKA</h2>
                            <h3 class="text-transform-none text-color-dark font-weight-black text-10 line-height-2 mb-4">Naš Tim</h3>
                            <img src="~/Content/img/divider.jpg" class="img-fluid opacity-5 mb-4 mt-2" alt="" />
                            <p class="custom-font-tertiary text-5 line-height-4 mb-4 mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet libero</p>
                            <p class="text-3-4 pb-3 mb-4">Vestibulum auctor felis eget orci semper vestibulum. Pellentesque ultricies nibh gravida, accumsan libero luctus, molestie nunc.</p>
                            @*<a href="demo-architecture-2-contact.html" class="btn btn-primary custom-btn-style-1 custom-btn-style-1-right font-weight-bold text-3 px-5 py-3">CONTACT US</a>*@
                        </div>
                    </div>
                </div>

                <section class="section parallax bg-transparent border-0 py-0 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'scrollableParallax': true, 'scrollableParallaxMinWidth': 991, 'startOffset': 13, 'cssProperty': 'width', 'cssValueStart': 40, 'cssValueEnd': 100, 'cssValueUnit': 'vw'}">
                    <div class="d-flex justify-content-center">
                        <div class="scrollable-parallax-wrapper bg-primary overflow-hidden">
                            <div class="container container-lg-custom custom-container-style-3 custom-container-position-1 py-5 my-5 mx-0">
                                <div class="row justify-content-center pt-3 mb-5">
                                    <div class="col-sm-8 col-md-12 text-center">
                                        <h2 class="text-color-light opacity-6 positive-ls-3 line-height-3 text-4 mb-3">HAPPY CLIENTS</h2>
                                        <h3 class="text-transform-none text-color-light font-weight-black line-height-2 text-10 negative-ls-1 mb-0">See What Clients Are Saying</h3>
                                    </div>
                                </div>
                                <div class="row justify-content-center pb-3">
                                    <div class="col-lg-9">
                                        <div class="owl-carousel owl-theme nav-style-1 nav-light nav-outside nav-font-size-lg custom-dots-style-1 custom-dots-style-1-light mb-0" data-plugin-options="{'responsive': {'0': {'items': 1, 'nav': false, 'dots': true}, '576': {'items': 1, 'nav': false, 'dots': true}, '768': {'items': 1, 'nav': false, 'dots': true}, '992': {'items': 1}, '1200': {'items': 1}}, 'loop': false, 'nav': true, 'dots': false}">
                                            <div>
                                                <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-remove-right-quote custom-testimonial-quote mb-0">
                                                    <blockquote>
                                                        <p class="custom-font-secondary text-color-light opacity-8 font-weight-light line-height-6 text-4-5 px-2 px-lg-3 mb-0"><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</em></p>
                                                    </blockquote>
                                                    <div class="testimonial-author">
                                                        <p class="text-color-light font-weight-bold text-4 mb-0">John Smith</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-remove-right-quote custom-testimonial-quote mb-0">
                                                    <blockquote>
                                                        <p class="custom-font-secondary text-color-light opacity-8 font-weight-light line-height-6 text-4-5 px-2 px-lg-3 mb-0"><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</em></p>
                                                    </blockquote>
                                                    <div class="testimonial-author">
                                                        <p class="text-color-light font-weight-bold text-4 mb-0">John Smith</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section bg-transparent border-0 position-relative m-0">
                    <div class="container container-lg-custom py-5">
                        <div class="row">
                            <div class="col text-center">
                                <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">
                                    <div class="position-absolute transform3dx-n50 left-50pct z-index-0" style="top: 56px;">
                                        <h2 class="text-color-dark custom-stroke-text-effect-1 custom-big-font-size-1 font-weight-black opacity-1 mb-0">NAJNOVIJE VIJESTI</h2>
                                    </div>
                                </div>
                                <h2 class="text-color-default positive-ls-3 line-height-3 text-4 mb-2">KVS ORKA</h2>
                                <h3 class="text-transform-none text-color-dark font-weight-black text-10 line-height-2 mb-3">NOVOSTI</h3>
                                <img src="~/Content/img/divider.jpg" class="img-fluid opacity-5 mt-3 mb-5" alt="" />
                            </div>
                        </div>
                        <div class="row row-gutter-sm">
                            @{
                                var blogs = Model.BlogPages.Take(3);
                            }
                            @foreach (var blog in blogs)
                            {
                                //strip html from blog content
                                var blogTextToShow = Html.Raw(Regex.Replace(blog.Content1, "<.*?>", string.Empty)).ToString();
                                if (blogTextToShow.Length > 100)
                                {
                                    blogTextToShow = blogTextToShow.Substring(0, 100) + "...";
                                }
                                <div class="col-lg-4 mb-4 mb-lg-0">
                                    <article>
                                        <div class="card border-0 border-radius-0">
                                            <div class="card-body bg-color-light-scale-1 p-4 z-index-1">
                                                <a href="@blog.PageUrl">
                                                    <img class="card-img-top border-radius-0 hover-effect-2" src="~/@blog.ImagePath/@blog.ImageName" alt="@blog.PageTitle">
                                                </a>
                                                <p class="text-uppercase text-1 mb-3 pt-1 text-color-default">
                                                    <time pubdate datetime="@blog.DateAdded">@blog.DateAdded.ToString("dd. MMMM yyyy.")</time>
                                                    <span class="opacity-3 d-inline-block px-2">|</span>
                                                    KVS Orka
                                                </p>
                                                <div class="card-body p-0">
                                                    <h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none font-weight-bold text-3-4" href="@blog.PageUrl">@blog.PageTitle</a></h4>
                                                    <p class="card-text mb-2">@Html.Raw(blogTextToShow)</p>
                                                    <a href="@blog.PageUrl" class="custom-read-more d-inline-flex align-items-center font-weight-semibold text-3 text-decoration-none pl-0">
                                                        PROČITAJ VIŠE +
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            }
                        </div>
                    </div>
                </section>
            </div>

            <div class="position-relative" style="margin-top: 50px;">
                <img src="~/Content/img/backgrounds/arch-plan-3.jpg" class="img-fluid position-absolute bottom-0 left-0" alt="" />
            </div>

        </div>

        @Html.Action("GetFooter", "CMS")
    </div>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.appear.js"></script>
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Scripts/jquery.magnific-popup.js"></script>
    <script src="~/Scripts/jquery.isotope.min.js"></script>
    <script src="~/Scripts/owl.carousel.js"></script>
    <script src="~/Scripts/vivus.js"></script>
    <script src="~/Scripts/theme.js"></script>
    <script src="~/Scripts/demo-architecture-2.js"></script>
    <script src="~/Scripts/theme.init.js"></script>
    @{Html.RenderPartial("_EditorPartial");}

</body>
</html>
