    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>@Model.PageTitle</title>
    <meta name="description" content="@Model.MetaDescription">
    <meta name="keywords" content="@Model.MetaKeywords" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:url" content="@OrkaMostar.Helpers.HTMLHelpers.GetBaseUrl()" />
    <meta property="og:title" content="@Model.PageTitle" />
    <meta property="og:description" content="@Model.MetaDescription" />
    <meta property="og:image:alt" content="@Model.PageTitle" />
    <meta property="og:type" content="website" />

    <link rel="stylesheet" href="~/Content/fonts.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/fontawesome-all.css">
    <link rel="stylesheet" href="~/Content/animate.compat.css">
    <link rel="stylesheet" href="~/Content/simple-line-icons.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/theme.css">
    <link rel="stylesheet" href="~/Content/theme-elements.css">
    <link rel="stylesheet" href="~/Content/theme-blog.css">
    <link rel="stylesheet" href="~/Content/theme-shop.css">
    <link rel="stylesheet" href="~/Content/demo-architecture-2.css">
    <link rel="stylesheet" href="~/Content/skin-architecture-2.css">
    <link rel="stylesheet" href="~/Content/custom.css">

    <!-- Head Libs -->
    <script src="~/Scripts/modernizr-2.8.3.js"></script>