<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>@ViewBag.Title</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    @Styles.Render("~/Content/admin/FontAwesomeCss")
    @Styles.Render("~/Content/AdminCSS")
    @RenderSection("styles", required: false)

    <!-- Head Libs -->
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    @RenderBody()

    <!-- Vendor -->
    @Scripts.Render("~/bundles/AdminScripts")
    @RenderSection("scripts", required: false)

</body>
</html>