@using OrkaMostar.Core.ViewModels
@model LoginViewModel
@{
                /**/

                ViewBag.Title = "Log in";
}

<!-- start: page -->
<section class="body-sign">
    <div class="center-sign">
        <a href="/" class="logo float-left">
            <img src="/Areas/Admin/Content/images/logo-dark.png" height="54" alt="KVS Orka Mostar" />
        </a>

        <div class="panel card-sign">
            <div class="card-title-sign text-right">
                <h2 class="title text-uppercase font-weight-bold m-0"><i class="fas fa-user mr-1"></i> Sign In</h2>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group mb-3">
                        <label>Email</label>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg" })
                            <span class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fas fa-user"></i>
                                </span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group mb-3">
                        <div class="clearfix">
                            <label class="float-left">Password</label>
                        </div>
                        <div class="input-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-lg" })
                            <span class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="checkbox-custom checkbox-default">
                                <input type="checkbox" name="RememberMe" id="RememberMe" value="false">
                                <label for="RememberMe">Remember me?</label>
                            </div>
                        </div>
                        <div class="col-sm-4 text-right">
                            <button type="submit" class="btn btn-primary mt-2">Sign In</button>
                        </div>
                    </div>

                }
            </div>
        </div>

        <p class="text-center text-muted mt-3 mb-3">&copy; Copyright @DateTime.Now.Year. All Rights Reserved.</p>
    </div>
</section>
<!-- end: page -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}